<div class="contant-section px-3 px-lg-4 pb-4" id="contact">
  <h2 class="h3 text mb-3">Contact</h2>
  <div class="row">
    <div class="col-md-7 d-print-none">
      <div class="my-2">
        <form>
          <div class="my-2">
            <input class="form-control" type="text" id="subject" name="subject" placeholder="Your Subject" required> 
          </div>
          <div class="row">
            <div class="col-4">
              <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required>
            </div> 
            <div class="col-4">
              <input class="form-control" type="email" id="email" name="_replyto" placeholder="Your E-mail" required>
            </div>
            <div class="col-4">
              <input class="form-control" type="phone" id="phone" name="phone" placeholder="Your Phone" required>
            </div> 
          </div>  
          <div class="form-group my-2">
            <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>
          </div>
          <button class="btn btn-primary mt-2" type="submit">Send</button>
        </form>
      </div>
    </div>
    <div class="col">
      <div class="mt-2">
        <h3 class="h6">Address</h3>
        <div class="pb-2 text-secondary">HCM</div>
        <h3 class="h6">Phone</h3>
        <div class="pb-2 text-secondary">0123456789</div>
        <h3 class="h6">Email</h3>
        <div class="pb-2 text-secondary">quang@gmail.com</div>
      </div>
    </div>
  </div>
</div>