<div class="education-section px-3 px-lg-4 pb-4" id = "about_me">
    <h2 class="h3 mb-4">Education</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Full Stack Developer <span class="text-muted h6">from Green Academy</span></div>
          <div class="text-muted text-small mb-2">2020 - 2021</div>
          <div>Trained in the Ruby programming language based on the rails framework. Exposure to HTML, CSS, Javascript, ... combined with Ruby for web design.</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Java Developer <span class="text-muted h6">from FPT University</span></div>
          <div class="text-muted text-small mb-2">2018 - now</div>
          <div>Trained in programming languages ​​such as: C / C ++, Java, Python, C #, .NET, ... Regular practice at school. At the end of each theoretical course there is always a practical course.
Exposure to IOT technology, learning English, Japanese, ...</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Science and Mathematics <span class="text-muted h6">from Tay Thanh High Scool</span></div>
          <div class="text-muted text-small mb-2">2015-2018</div>
          <div>Studied block A: natural science. Passion and research in math, logic, ...</div>
        </div>
      </div>
    </div>
  </div>