<div class="cover-bg p-3 p-lg-4 text-white">
  <div class="row">
    <div class="col-lg-7 col-md-5">
      <div class="avatar hover-effect bg-white shadow-sm p-1">
        <img src="https://f22-zpc.zdn.vn/3081972978590608519/e8ee800c5840ae1ef751.jpg" width="200" height="250">
      </div>
    </div>
    <div class="col-lg-5 col-md-7 text-center text-md-start">
      <h2 class="h1 mt-2"><%= @user[:fullname] %></h2>
      <p>FullStack Developer</p>
      <div class="d-print-none">
        <div class="btn btn-light text-dark shadow-sm mt-1 me-1">Download CV</div>
        <a class="btn btn-success shadow-sm mt-1" href="#about_me">My Education</a>
      </div>
    </div>
  </div>
</div>