<div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h3 mb-3">About Me</h2>
        <p>Hello! I’m Quang. I am passionate about FullStack Developer. I am a skilled Front-end Developer and Back-end Developer.</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="pb-1">Age</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">21</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Email</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">
              <a href="mailto:duyquang040720@gmail.com"> duyquang040720@gmail.com</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Phone</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">
              <a href="tel:0358013596"> 0358013596</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Address</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">Tan Phu District, Ho Chi Minh City</div>
          </div>
        </div>
      </div>
    </div>
  </div>