<div class="mb-2"><span><%= skill_name%></span>
  <div class="progress my-1" style="height: 2px">
    <div class="progress-bar <%= skill_bg_color%>" role="progressbar" style="width: <%= skill_percent%>" 
          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
</div>