<div class="education-section px-3 px-lg-4 pb-4">
    <h3 class="h3 mb-4">Pictures of Places I Studied</h3>
    <div class="fas fa-ellipsis-h"></div>
    <div id="slideshow">
        <div class="slide-wrapper">
            <div class="slide"><img src="https://top10tphcm.com/wp-content/uploads/2018/12/trung-tam-dao-tao-do-hoa-green-academy.jpg" style = "border-radius: 1rem;"></div>
            <div class="slide"><img src="https://hcmuni.fpt.edu.vn/Data/Sites/1/media/2020-kim-vi/seo/campus/1-truong-dai-hoc-fpt-tphcm/truong-dai-hoc-fpt-tp-hcm-(1).jpg" width="650" height="367" style = "border-radius: 1rem;"></div>
            <div class="slide "><img src="https://review.edu.vn/wp-content/uploads/2021/03/dai-hoc-fpt-1.jpg" width="650" height="367" style = "border-radius: 1rem;"></div>
        </div>
    </div>
 </div>